<h1>{{title}} ({{getTodosByStatus(true).length}} / {{todoItems.length}})</h1>

<md-list>
  <md-list-item *ngFor="let todoItem of todoItems; let i = index">
    <app-todo
      [todoItem]="todoItem"
      [index]="i"
    ></app-todo>
  </md-list-item>
</md-list>


<div class="row padding">
  <div class="col-xs-4">
    <div class="box">
      <md-input placeholder="Add new todo item" [(ngModel)]="name"></md-input>
    </div>
  </div>
</div>

<div class="row padding">
  <div class="col-xs-4">
    <div class="box">
      <button md-raised-button color="primary"
        [disabled]="!name.length"
        (click)="addNewTodoItem()"
      >Add new todo item</button>
    </div>
  </div>
</div>
