<form #todoEditForm="ngForm" (submit)="save()" novalidate>
    Index: {{index}}

    <md-input name="name" placeholder="Todo item" required
        [(ngModel)]="name"
        #nameControl="ngModel"
    ></md-input>

    <div *ngIf="nameControl.invalid" color="warn">Please fill this field.</div>

    <br />

    Assignee:

    <md-input name="assignee" placeholder="Assignee" required minlength="6"
        [(ngModel)]="assignee"
        #assigneeControl="ngModel"
    ></md-input>

    <div *ngIf="assigneeControl.invalid" color="warn">Please fill this field. Minimum 6 characters.</div>

    <br />

    <button type="submit" md-raised-button color="primary"
        [disabled]="todoEditForm.invalid"
    >Save todo item</button>

    <button md-raised-button color="primary"
        [routerLink]="['/todos']"
    >Back to todo list</button>
</form>
